
@model ChatTogether.Application.ViewModels.Chat.ChatViewModel;
<!-- NAVIGATION  -->
<button class="burger">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times  hide"></i>
</button>

<div class="nav-shadow"></div>
<nav class="nav">
    <div class="nav__profile">
        <img src="/img/deafultphoto.jpg" alt="profile photo" class="nav__profile-img">
        <div class="nav__profile-imgcover"></div>
        <p class="nav__profile-nickname mb-0">
            @{if (Context.Request.Cookies["FullName"] == null)
                {@ViewBag.FullName}
            else
            {@Context.Request.Cookies["FullName"] } }
        </p>
        <p class="nav__profile-nickname">
            @{if (Context.Request.Cookies["NickName"] == null)
                {@ViewBag.NickName}
            else
            {@Context.Request.Cookies["NickName"] }}
        </p>
        <button id="edit" class="nav__profile-edit btn-style"><i class="fas fa-user-edit nav__menu-item-icon"></i> Edytuj Profil</button>
    </div>

    <div class="nav__menu">
        <button class="nav__menu-item btn-style">
            <i class="fas fa-comment-dots nav__menu-item-icon"></i> Rozmowy
        </button>

        <button id="friends" class="nav__menu-item btn-style">
            <i class="fas fa-users nav__menu-item-icon"></i> Znajomi
        </button>
    </div>
    <div class="nav__logout">
        <button class="nav__logout-item btn-style" id="logOut">
            <i class="fas fa-sign-out-alt nav__menu-item-icon"></i> Wyloguj
        </button>
        <button class="nav__logout-item btn-style">
            <i class="fas fa-cog nav__menu-item-icon"></i> Ustawienia
        </button>
    </div>
</nav>

<main class="chat">
    <div class="chat-header">
        <p class="chat-header__nickname">@Model.FriendFullName</p>
    </div>
    <div class="chat-textarea">
        <div id="messagesList">
            @{ if (Model.MessageList.Count() > 0)
                {
                    foreach (var message in Model.MessageList)
                    {
                        if (message.SenderId < message.ReceiverId)
                        {
                            <div class="msg msg-l">
                                <div class="msg-content msg-content-l">
                                    <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo" />
                                    <div class="msg-text msg-text-l">@message.Content</div>
                                </div>
                                <span class="msg-author">@message.SenderNick</span>
                            </div>
                            @*<div class="chat-textarea__msg chat-textarea__msg-l">@message.Content</div>*@
                        }
                        else
                        {
                            <div class="msg msg-r">
                                <div class="msg-content msg-content-r">
                                    <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo" />
                                    <div class="msg-text msg-text-r">@message.Content</div>
                                </div>
                                <span class="msg-author">@message.SenderNick</span>
                            </div>
                            @*<div class="chat-textarea__msg chat-textarea__msg-r">@message.Content</div>*@
                        }
                    }

                }
            }
        </div>
       
    </div>
    <div class="chat-sendarea">
        <textarea name="message" id="messageInput" cols="30" rows="1" class="chat-sendarea__input"></textarea>
        <button id="sendButton" class="btn-style chat-sendarea__btn" value="Send Message"><i class="fas fa-paper-plane"></i></button>
    </div>
</main>
<a id="logOutClick" hidden="hidden" href="@Url.Action("LogOut","Home")"></a>
<a id="friendClick" hidden="hidden" href="@Url.Action("Friends","Home")"></a>
<a id="editClick" hidden="hidden" href="@Url.Action("Editprofile","Home")"></a>
<input type="text" id="userIdVal" value="@Model.UserId" hidden="hidden" />
<input type="text" id="friendIdVal" value="@Model.FriendId" hidden="hidden" />
<input type="text" id="userNickVal" value="@Model.UserNick" hidden="hidden" />
<input type="text" id="friendNickVal" value="@Model.FriendNick" hidden="hidden" />

<script>
    window.scrollTo(0, document.body.scrollHeight);

    window.onload = function () {
        var t = document.getElementsByTagName('textarea')[0];
        var offset = !window.opera ? (t.offsetHeight - t.clientHeight) : (t.offsetHeight + parseInt(window.getComputedStyle(t, null).getPropertyValue('border-top-width')));

        var resize = function (t) {
            t.style.height = 'auto';
            t.style.height = (t.scrollHeight + offset) + 'px';
        }

        t.addEventListener && t.addEventListener('input', function (event) {
            resize(t);
        });

        t['attachEvent'] && t.attachEvent('onkeyup', function () {
            resize(t);
        });
    }
</script>




@*<div class="chat-textarea">

        <div class="msg msg-l">
            <div class="msg-content msg-content-l">
                <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo">
                <div class="msg-text msg-text-l">asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            </div>
            <span class="msg-author">adamchick</span>
        </div>
        <div class="msg msg-r">
            <div class="msg-content msg-content-r">
                <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo">
                <div class="msg-text msg-text-r">asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            </div>
            <span class="msg-author">adamchick</span>
        </div>

    </div>*@





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
