
@model ChatTogether.Application.ViewModels.Chat.ChatViewModel;
@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>*@

<!-- NAVIGATION  -->

<button class="burger">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times  hide"></i>
</button>
<div class="nav-shadow"></div>
<nav class="nav">
    <div class="nav__profile">
        <img src="img/deafultphoto.jpg" alt="profile photo" class="nav__profile-img">
        <div class="nav__profile-imgcover"></div>
        <p class="nav__profile-nickname">Bartosz Adamczyk</p>
        <button href="#" class="nav__profile-edit btn-style">
            <i class="fas fa-user-edit nav__menu-item-icon"></i>
            Edytuj Profil
        </button>
    </div>

    <div class="nav__menu">
        <button href="#" class="nav__menu-item btn-style">
            <i class="fas fa-comment-dots nav__menu-item-icon"></i> Rozmowy
        </button>

        <button href="#" class="nav__menu-item btn-style">
            <i class="fas fa-users nav__menu-item-icon"></i> Znajomi
        </button>
    </div>
    <div class="nav__logout">
        <button href="#" class="nav__logout-item btn-style">
            <i class="fas fa-sign-out-alt nav__menu-item-icon"></i> Wyloguj
        </button>
        <button href="#" class="nav__logout-item btn-style">
            <i class="fas fa-cog nav__menu-item-icon"></i> Ustawienia
        </button>
    </div>
</nav>

<main class="chat">
    <div class="chat-header">
        <p class="chat-header__nickname">adamchick</p>
    </div>
    <div class="chat-textarea" id="messagesList">
        @{ if (Model.MessageList.Count() > 0)
            {
                foreach (var message in Model.MessageList)
                {
                    if (message.SenderId < message.ReceiverId)
                    {
                        <div class="chat-textarea__msg chat-textarea__msg-l">@message.Content</div>
                    }
                    else
                    {
                        <div class="chat-textarea__msg chat-textarea__msg-r">@message.Content</div>
                    }
                }

            }
        }
    </div>
    @*<div class="chat-textarea__msg chat-textarea__msg-l">asd</div>*@
    <div class="chat-sendarea">
        <textarea name="message" id="messageInput" cols="30" rows="1" class="chat-sendarea__input"></textarea>
        @*<input type="text" class="chat-sendarea__input">*@
        @*<input type="button" class="btn-style chat-sendarea__btn" id="sendButton" value="Send Message" />*@
        <button id="sendButton" class="btn-style chat-sendarea__btn" value="Send Message"><i class="fas fa-paper-plane"></i></button>
    </div>
</main>
@*<p id="userIdVal" val="@Model.UserId" value="@Model.UserId" hidden="hidden">@Model.UserId</p>*@
<input type="text" id="userIdVal" value="@Model.UserId" hidden="hidden" />
<input type="text" id="friendIdVal" value="@Model.FriendId" hidden="hidden" />

<script>
    window.scrollTo(0, document.body.scrollHeight);

    window.onload = function () {
        var t = document.getElementsByTagName('textarea')[0];
        var offset = !window.opera ? (t.offsetHeight - t.clientHeight) : (t.offsetHeight + parseInt(window.getComputedStyle(t, null).getPropertyValue('border-top-width')));

        var resize = function (t) {
            t.style.height = 'auto';
            t.style.height = (t.scrollHeight + offset) + 'px';
        }

        t.addEventListener && t.addEventListener('input', function (event) {
            resize(t);
        });

        t['attachEvent'] && t.attachEvent('onkeyup', function () {
            resize(t);
        });
    }
</script>



@*<main class="chat">
    <div class="chat-header">
        <p class="chat-header__nickname">adamchick</p>
    </div>


    <div class="chat-textarea">

        <div class="msg msg-l">
            <div class="msg-content msg-content-l">
                <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo">
                <div class="msg-text msg-text-l">asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            </div>
            <span class="msg-author">adamchick</span>
        </div>
        <div class="msg msg-r">
            <div class="msg-content msg-content-r">
                <img src="/img/deafultphoto.jpg" alt="profile photo" class="msg-photo">
                <div class="msg-text msg-text-r">asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            </div>
            <span class="msg-author">adamchick</span>
        </div>

    </div>
    <div class="chat-sendarea">
        <textarea name="message" id="message" cols="30" rows="1" class="chat-sendarea__input"></textarea>
        <button class="btn-style chat-sendarea__btn"><i class="fas fa-paper-plane"></i></button>
    </div>
</main>*@







<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
