@model ChatTogether.Application.ViewModels.User.UserEditProfile;
<!-- NAVIGATION  -->

<button class="burger">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times  hide"></i>
</button>
<div class="nav-shadow"></div>
<nav class="nav">
    <div class="nav__profile">
        <img src="img/deafultphoto.jpg" alt="profile photo" class="nav__profile-img">
        <div class="nav__profile-imgcover"></div>
        <p class="nav__profile-nickname">@Context.Request.Cookies["FullName"]</p>
        <p class="nav__profile-nickname">@Context.Request.Cookies["NickName"]</p>
        <button href="#" class="nav__profile-edit btn-style">
            <i class="fas fa-user-edit nav__menu-item-icon"></i>
            Edytuj Profil
        </button>
    </div>

    <div class="nav__menu">
        <button href="#" class="nav__menu-item btn-style">
            <i class="fas fa-comment-dots nav__menu-item-icon"></i> Rozmowy
        </button>

        <button id="friends" class="nav__menu-item btn-style">
            <i class="fas fa-users nav__menu-item-icon"></i> Znajomi
        </button>
    </div>
    <div class="nav__logout">
        <button class="nav__logout-item btn-style" id="logOut">
            <i class="fas fa-sign-out-alt nav__menu-item-icon"></i> Wyloguj
        </button>
        <button class="nav__logout-item btn-style">
            <i class="fas fa-cog nav__menu-item-icon"></i> Ustawienia
        </button>
    </div>
</nav>

<main class="editprofile">
    <h1 class="section-heading">profil</h1>
    <div class="editprofile__data">
        <img src="img/deafultphoto.jpg" alt="profile photo" class="editprofile__data-img">
        <p class="editprofile__data-name">@Context.Request.Cookies["FullName"]</p>
        <p class="editprofile__data-nickname">(@Context.Request.Cookies["NickName"])</p>
    </div>
    <div class="editprofile__buttons">
        <button class="btn-style editprofile__buttons-img btn-special-animation" data-bs-toggle="modal" data-bs-target="#editphoto">Edytuj zdjęcie</button>

        <button class="btn-style editprofile__buttons-nickname btn-special-animation" data-bs-toggle="modal" data-bs-target="#editnickname">Edytuj nickname</button>

        <button class="btn-style editprofile__buttons-password btn-special-animation" data-bs-toggle="modal" data-bs-target="#editpassword">Zmień hasło</button>

        <button class="btn-style editprofile__buttons-mail btn-special-animation" data-bs-toggle="modal" data-bs-target="#editmail">Zmień mail</button>
    </div>

    <!-- EDYTUJ PHOTO -->
    <div class="modal fade" id="editphoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">edytuj zdjęcie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body editprofile__modal-photo">
                    <img src="img/deafultphoto.jpg" alt="profile photo" class="editprofile__data-img">
                    <input type="file" class="editprofile__modal-photo-fileinput" accept="image/*">
                    <div class="editprofile__modal-password-input editprofile__modal-password-actual">
                        <label for="password" class="form-label">Potwierdź hasłem:  </label>
                        <input type="password" id="password" class="modal-input mb-4">
                    </div>
                    <button class="btn-style addfriends-button btn-special-animation">zatwierdź</button>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn-style addfriends-button btn-special-animation" data-bs-dismiss="modal">zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDYTUJ NICKNAME -->
    <div class="modal fade" id="editnickname" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">edytuj nickname</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body editprofile__modal-nickname">
                    <form asp-controller="Home" asp-action="ChangeNickname">
                        <p class="editprofile__modal-paragraph">Twój nickname: </p>
                        <p class="editprofile__modal-paragraph fw-bold">@Context.Request.Cookies["NickName"]</p>
                        <p class="editprofile__modal-paragraph">Wprowadź nowy nickname: </p>
                        <div class="editprofile__modal-nickname-input">
                            <input type="text" class="modal-input" asp-for="NewNickname">
                        </div>

                        <div class="editprofile__modal-password-input editprofile__modal-password-actual">
                            <label for="password" class="form-label">Potwierdź hasłem:  </label>
                            <input type="password" id="password" class="modal-input mb-4" asp-for="CurrentPassword">
                        </div>
                        <button class="btn-style addfriends-button btn-special-animation">zatwierdź</button>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn-style addfriends-button btn-special-animation" data-bs-dismiss="modal">zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDYTUJ HASŁO -->
    <div class="modal fade" id="editpassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">edytuj hasło</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body editprofile__modal-password">
                    <form asp-controller="Home" asp-action="ChangePassword">
                        <div class="editprofile__modal-password-actual">
                            <label for="password" class="form-label">Hasło:  </label>
                            <input type="password" id="password" class="modal-input" asp-for="NewPassword">
                        </div>

                        <div class="editprofile__modal-password-next mb-4">
                            <label for="password" class="form-label">Powtórz hasło:  </label>
                            <input type="password" id="password" class="modal-input" asp-for="NewPasswordRep">
                        </div>

                        <div class="editprofile__modal-password-input editprofile__modal-password-actual">
                            <label for="password" class="form-label">Aktualne hasło:  </label>
                            <input type="password" id="password" class="modal-input mb-4" asp-for="CurrentPassword">
                        </div>

                        <button class="btn-style addfriends-button btn-special-animation">zatwierdź</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-style addfriends-button btn-special-animation" data-bs-dismiss="modal">zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EDYTUJ MAIL -->
    <div class="modal fade" id="editmail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">edytuj mail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body editprofile__modal-mail">
                    <form asp-controller="Home" asp-action="ChangeEmail">
                        <div class="editprofile__modal-mail-actual">
                            <label for="email" class="form-label">Email:   </label>
                            <input type="email" id="email" class="modal-input" asp-for="NewEmail">
                        </div>

                        <div class="editprofile__modal-mail-new">
                            <label for="email" class="form-label">Powtórz email:   </label>
                            <input type="email" id="email" class="modal-input" asp-for="NewEmailRep">
                        </div>

                        <div class="editprofile__modal-password-input editprofile__modal-password-actual">
                            <label for="password" class="form-label">Potwierdź hasłem:  </label>
                            <input type="password" id="password" class="modal-input mb-4" asp-for="CurrentPassword">
                        </div>
                        <button class="btn-style addfriends-button btn-special-animation">zatwierdź</button>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn-style addfriends-button btn-special-animation" data-bs-dismiss="modal">zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <a id="logOutClick" hidden="hidden" href="@Url.Action("LogOut","Home")"></a>
    <a id="friendClick" hidden="hidden" href="@Url.Action("Friends","Home")"></a>
</main>

